.App {
  text-align: center;
}

h2{
  text-align:center;
}

.choices{
  text-align:center;
}

.form-container {
  width: 80%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 80px;
}

label {
  border-top: 1px solid black;
  background: whitesmoke;
  height: 80px;
}
#username input {
  width: 300px;
}
#username {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}
#pass input {
  width: 300px;
}
#pass {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

#email input {
  width: 300px;
}
#email {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  background-color: white;
}

select {
  width: 40%;
  margin: 10px;
  border-radius: 5px;
}

.choices {
  display: flex;
  flex-direction: column;
  height: 130px;
  justify-content: space-around;
  margin: 5px 10px 5px 10px;
}

#bottom-border {
  border-bottom: 1px solid black;
}

#instructions {
  height: 80px;
  margin: 25px;
  border-radius: 5px;
}

#submit {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
#cancel {
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.controls {
  display: flex;
}